.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text2 {
    font-size: 2.7rem;
    position: relative;
    top: -30px; /* mueve 20px hacia arriba */
}

.login-text {
    font-size: 2.9rem;
    position: relative;
    top: -10px; /* mueve 20px hacia arriba */
}

.login-text3 {
    font-size: 2.9rem;
    position: relative;
    top: -10px; /* mueve 20px hacia arriba */
    background: linear-gradient(90deg, #e000ff, #00ffe0, #ffea00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;
}

.login-text, .login-text3 {
    display: inline-block;
    margin-right: 10px; /* separarlos un poco */
}

.login-text-identificate {
    font-size: 2.0rem;
    position: relative;
    top: -10px; /* mueve 20px hacia arriba */
}

.connect,
.cancel {
    background: none;
    color: var(--color);
    border: solid 4px var(--element-color);
    border-radius: 10px;
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
    transition: transform 0.3s ease-in-out; 
}

.connect:hover,
.cancel:hover {
    transform: scale(1.1);
}

.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}

.login-select {
    display: none;
}
